# This is a basic workflow to help you get started with Actions

name: pipeline
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.KEY }}

      - name: test
        run: |
          git remote set-url origin git@github.com:razrab-hm/test.git
          ssh -T git@github.com
          git branch -M main
          git push -u origin2 main